CXSAST_BASE_URL=https://desktop-rmvpboc
CXSAST_USERNAME=admin
CXSAST_PASSWORD=your_password_here
CXSAST_VERIFY=False
CXSAST_GRANT_TYPE=password
CXSAST_SCOPE=sast_rest_api
CXSAST_CLIENT_ID=resource_owner_client
CXSAST_CLIENT_SECRET=014DF517-39D1-4453-B7B3-9930C563627C
